body {
    padding: 0;
    margin: 0;
    font-family: "Times New Roman", Times, serif; /*Web Safe Font Combinations http://www.w3schools.com/cssref/css_websafe_fonts.asp*/
    background-image: url("../images/green_grass.jpg");
}
#container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F1F1F1;
}
header img {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
header {
    background-color: #4CAF50;
    color: #FFF;
    text-align: center;
    height: 160px;
}
#presentation-name {
    position: relative;
    top: 35px;
}
h1,
h2,
p {
    margin: 0;
    padding: 0;
}
p {
    margin: 10px;
    font-size: 1.15em;
}
iframe {
    margin: 0;
    padding: 0;
    border: none;
}
nav {
    width: 20%;
    float: left;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    margin-bottom: 10px;
}

article,
section {
    width: 80%;
    float: right;
}
section img {
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 5px;
    width: 30%;
    height: 130px;
}
section img:hover {
    box-shadow: 0 0 2px 5px #ffad33;
}
footer {
    clear: both;
    background-color: #4CAF50;
    color: #FFF;
    text-align: center;
}